.top-bar {
    background: #4baf47 !important;
}
.menu-bar {
    background: black !important;
}

.menu-bar.v1 .menu-bar-content .main-menu li.active > a,
.menu-bar.v1 .menu-bar-content .main-menu li.current-menu-parent > a,
.menu-bar.v1 .menu-bar-content .main-menu li.current_page_item > a,
.menu-bar.v1 .menu-bar-content .main-menu li.current_page_parent > a {
  opacity: 1 !important;
  color: #07106B(36, 36, 237) !important;
}
.menu-bar.v1 .menu-bar-content .main-menu li:hover > a {
    background: #fff !important;
    color: #4baf47 !important;
    padding-left: 2px;
    padding-right: 2px;
}

.whatsapp {
    position: fixed;
    width: 55px;
    height: 55px;
    left: 0;
    margin-left: 40px;
    bottom: 50px;
    text-align: center;
    line-height: 55px;
    opacity: 1;
    font-size: 15px;

    border-radius: 100px;
    color: var(--color-green);
    background: var(--color-white);
    box-shadow: 0 4.8px 24.4px -6px rgba(19, 16, 34, 0.1),
      0 4px 13px -2px rgba(19, 16, 34, 0.06);
    z-index: 99;
  }

  .provide-img img{
    height: 300px !important;
  }

  .info-text
  .info-text p h6.a {
    columns: #07106B !important;
  }
